{% extends 'PiupiuBundle:Layout:layout.html.twig' %}
{% block title %}Piupiu home{% endblock title %}
{% block body %}
    <h1>Piupiu home</h1>
{% endblock body %}
{% block script %}
{% endblock script %}